<% provide(:title, 'Admin Page') %>

<% if signed_in? %>
  <div class="container">
  	<br />
  	<div class="signout">
    <%= link_to "Sign out", signout_path, method: "delete" %>
	</div>

  <div class="header"> Important Messages </div>
  <br />
  <div class="message-instruction"> 1. When you are on this page, clicking the "Admin Page" link on the bottom right hand corner will cause an error. Just press F5 instead.</div>
  <div class="message-instruction"> 2. For uploading images, you can first upload the images to Facebook, and then copy and paste the image url to upload to the website. </div>
  <div class="message-instruction"> 3. Please sign out when you are done. Also, if you are using a public computer, please delete the cookies as well. </div>

  <br />
  <br />

  <table>
    <div class="header"> Announcement Panel</div>
    <br />
  	<tr>
  		<td class="admin-cell">
  			<%= render 'shared/announcement_form' %>
  		</td>
  		<td class="admin-cell">
  			<div class="announcement-instruction">
  				<% if @announcements.any? %>
      			<h3>Delete old announcements</h3>
      			<h4> Number of old announcements: <%= @announcements.count %> </h4>
      			<ol>
        	  	<%= render @announcements %>
      			</ol>
      			<%#= will_paginate @announcements %>
      		<% else %>
      			<h3> We currently have no announcements to delete! </h3>
    			<% end %>
    		</div>
  		</td>
  	</tr>
  </table>

  <br />
  <br />

  <table>
    <div class="header"> Pictures Album Panel</div>
    <br />
    <tr>
      <td class="admin-cell">
        <%= form_for @album, :html => {:multipart => true} do |f| %>
        <div class="announcement-creation">
          <div class="announcement-instruction"> <h3> Create a new picture album </h3> </div>
          <div class="announcement-instruction"> Title (Date in YYYY-MM-DD format):</div>
          <div class="announcement-instruction">(cannot be empty)</div>
          <div class="announcement-form input-xxlarge"> <%= f.text_field :name, placeholder: "Compose title (date)..." %> </div>
          <br />
          <div class="announcement-instruction"> Upload a picture from url:</div>
          <div class="announcement-form"> <%= f.text_field :Url, placeholder: "Url in http or https..." %><%#= f.file_field :cover_image %> </div>
          <br />
          <%= f.submit "Post", class: "announcement-instruction btn btn-large btn-primary" %>
        </div>
        <% end %>
      </td>
      <td class="admin-cell">
        <div class="announcement-instruction">

          <% if @albums.blank? %>
            <h3> We currently have no picture albums to delete! </h3>
          <% else %>
          <ol>
              <%= render @albums %>
            <% end %>
          </ol>

        </div>
      </td>
    </tr>
  </table>

  <br />
  <br />

  <table>    
    <div class="header"> Meeting Time Panel</div>
    <br />
    <tr>
      <td class="admin-cell">
        <div class="meeting-time-button">
          <%= button_to "Set to Daylight Savings Meeting Time (7:30PM)", {:controller => 'sessions', :action => "set_daylightsaving", :method => :put}, {:class => "btn btn-warning"} %>
        </div>
      </td>
      <td class="admin-cell">
        <div class="meeting-time-button">
          <%= button_to "Set to Standard Meeting Time (6:30PM)", {:controller => 'sessions', :action => "set_not_daylightsaving", :method => :put},  {:class => "btn btn-warning"}%>
        </div>
      </td>
    </tr>
  </table>

  <div class="meeting-time-showing">
    <% if daylightsaving? %>
      You have set the meeting time on this website to be <u> Daylight Savings Time! </u>
    <% else %>
      You have set the meeting time on this website to be <u> Standard Time! </u>
    <% end %>
  </div>

  <br />
  <br />

</div>

<% else %>
<script type="text/javascript"> window.location.href= '<%= signin_path %>' </script>
<% end %>