<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/images/icon.png"/>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">    	
 	  <a class="brand" href="/">
 	  	<div class="header_title">
        Undergraduate Astronomical Society at UCLA
        </div>
 	  </a>
	  <ul class="nav">
		<li class="divider-vertical"></li>
		<li><%= link_to "About UAS", uas_path %></li>
		<li class="divider-vertical"></li>
		<li><%= link_to "Officers", officers_path %></li>
		<li class="divider-vertical"></li>
		<li><%= link_to "Picture Gallery", pictures_path %></li>
	  </ul>
    </div>
  </div>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= yield %>
<br />
<br />
<%= render 'layouts/footer' %>


</body>
</html>
